html { height: 100vh; width: 100vw; }

body {
    overflow: hidden;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #171717;
    padding: 0px;
    margin: 0px;
    font-size: large;
}

button {
    border: none;
    border-radius: 50px;
    font-size: medium;
    color: white;
    padding: 0.7rem;
    background-color: #171717;
    transition: all 0.15s ease-in-out;
}

button:disabled {
    background-color: #505050;
    cursor: not-allowed;
}

button:hover:not(:disabled){
    cursor: pointer;
    background-color: #202020;
}

button:active {
    background-color: #252525;
}

::selection {
    background-color: #C7EFCF;
    color: #1a1a1a;
}

.titleBar {
    display: flex;
    user-select: none;
    flex-direction: row;
    padding-left: 3vw;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    font-weight: 400;
    line-height: 1.5;
}

.logo {
    color: #171717;
    text-decoration: none;
}

.logo:hover {
    color: #171717;
    text-decoration: none;
}

.title {
    padding-left: 5%;
    font-size: xx-large;
    user-select: none;
}

.content {
    margin: 5rem;
}

#drop-area {
    background-color: #ffffff33;
    text-align: center;
    border-radius: 10px;
    border: 3px dashed #00000077;
    padding: 1rem;
}

.belowStuff {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrowRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    position: relative;
}

.pdf-side, .output-pdfs-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#arrow-container {
    position: relative;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.split-arrow {
    width: 100%;
    height: auto;
}

.sideButton {
    padding-top: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.page {
    border: none;
    font-size: large;
    text-align: center;
    border-radius: 10px;
    background-color: #00000030;
}

.inputFields {
    position: relative;
}

.input {
    all: unset;
    color: #171717;
    padding: 1rem;
    border: 1px solid #00000050;
    border-radius: 10px;
    transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    pointer-events: none;
    transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    border: 1px solid #1a1a1a;
}

.input:is(:focus, :valid) ~ label {
    transform: translateY(-120%) scale(0.7);
    padding-inline: 0.3rem;
    color: #1a1a1a;
}

.submit {
    border-radius: 10px;
    font-size: larger;
}

.hidden {
    display: none;
}

/* merge specific */

.file-list {
    padding: 0.5rem;
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00000030;
    gap: 10px;
    border-radius: 10px;
}

.tile {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 3rem;
    aspect-ratio: 8 / 1;
    border-radius: 10px;
    background-color: #ffffff;
}

.tile .file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
}

#fa {
    padding-left: 0.9rem;
    padding-right: 0.6rem;
}
