<!DOCTYPE html>
<html lang="en" style="background-color: {{ bg }};">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}">

        <link rel="stylesheet" href="/static/css/style.css">
        <!-- <script src="/static/js/script.js"></script> -->
        <script src="/static/js/upload.js"></script>
        <title>PDFiles | From .docx</title>
    </head>
    <body>
        <p class="titleBar"><b><a href="/" class="logo">PDFiles</a></b></p>
        <h1 class="title"><i class="fa-solid fa-file-import"></i> From .docx</h1>
        <div class="content">
            faggot
        </div>
    </body>
</html>
