<!DOCTYPE html>
<html lang="en" style="background-color: {{bg}};">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}">

    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <script src="/static/js/script.js"></script> -->
    <script src="/static/js/upload.js"></script>
    <title>PDFiles | From .docx</title>
</head>
<body>
    <p class="titleBar"><b><a href="/" class="logo">PDFiles</a></b></p>
    <h1 class="title"><i class="fa-solid fa-file-import"></i> From .docx</h1>
    <div class="content">
        <div id="drop-area">
            <div id="from-docx-swap-one">
                <p>Drag and drop a Word document here</p>
                <input type="file" id="file-elem" accept=".doc,.docx" style="display:none">
                <button id="file-select">Select file</button>
            </div>
            <div id="from-docx-swap-two" class="hidden arrowRow">
                <div id="docx-side">
                    <i class="fa-regular fa-file-word" style="font-size: 75px;"></i>
                    <p id="doc-file-name"></p>
                </div>
                <div id="arrow">
                    <i class="fa-solid fa-arrow-right" style="font-size: 95px;"></i>
                </div>
                <div id="pdf-side">
                    <i class="fa-regular fa-file-pdf" style="font-size: 75px;"></i>
                    <p id="pdf-file-name"></p>
                </div>
            </div>
        </div>
        <div class="sideButton">
            <button class="hidden submit" id="convert-button">Convert</button>
        </div>
    </div>
</body>
</html>