<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    
        <link rel="icon" href="/Assets/star_stalker.jpg" type="image/x-n">
        <link rel="stylesheet" href="/static/style.css">
        <title>PDFiles</title>
    </head>
<body>
    <p class="titleBar"><b><a class="logo">PDFiles</a></b></p>
    <div class="content">
        a
    </div>
</body>
</html>