<!DOCTYPE html>
<html lang="en" style="background-color: {{ bg }};">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}">

    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .input:is(:focus, :valid) ~ label { background-color: {{ bg }}; }
    </style>
    <!-- <script src="/static/js/script.js"></script> -->
    <script src="/static/js/upload.js"></script>
    <title>PDFiles | Split</title>
</head>

<body>
    <p class="titleBar"><b><a href="/" class="logo">PDFiles</a></b></p>
    <h1 class="title"><i class="fa-solid fa-arrows-split-up-and-left"></i> Split PDF</h1>
    <div class="content">
        <div id="drop-area">
            <div id="split-swap-one">
                <p>Drag and drop a PDF file here</p>
                <input type="file" id="file-elem" accept=".pdf" style="display:none">
                <button id="file-select">Select file</button>
            </div>
            <div id="split-swap-two" class="hidden arrowRow">
                <div id="inputted-pdf-side" class="pdf-side">
                    <i class="fa-regular fa-file-pdf" style="font-size: 75px;"></i>
                    <p id="pdf-file-name"></p>
                </div>
                <div id="arrow-container">
                    <img src="{{ url_for('static', filename='split-arrow.png') }}" class="split-arrow">
                </div>
                <div id="output-pdfs-side">
                    <div id="output-pdf-one" class="output-pdf">
                        <i class="fa-regular fa-file-pdf" style="font-size: 75px;"></i>
                        <p id="output-pdf-file-one-name"></p>
                    </div>
                    <div id="output-pdf-two" class="output-pdf">
                        <i class="fa-regular fa-file-pdf" style="font-size: 75px;"></i>
                        <p id="output-pdf-file-two-name"></p>
                    </div>
                    <!--TODO: fix the gap in padding between output PDF top and bottom -->
                </div>
            </div>
        </div>
        <div class="belowStuff hidden" id="split-page-input">
            <div class="inputFields">
                <input class="input" required autocomplete="off" type="number" min="1" step="1" name="split"
                    oninput="this.value = this.value.replace(/[^1-9]\d*/g, '');">
                <label class="label" for="split">Split on page</label>
            </div>
            <button class="submit" id="convert-button">Split PDF</button>
        </div>
    </div>
</body>

</html>